<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Data</h1>
    <form action="/submit-data" method="POST">
        <input type="text" name="name" placeholder="Enter Name">
        <input type="text" name="age" placeholder="Enter Age">
        <input type="text" name="city" placeholder="Enter City">
        <input type="email" name="email" placeholder="Enter Email">
        <button type="submit">Submit</button>
    </form>
</body>
</html>