<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New User Add Form</h1>
    <form method="post" action="/add_student">
        <input type="text" name="name", placeholder="Enter Full Name">
        <br><br>
        <input type="number" name="age", placeholder="Enter Age">
        <br><br>
        <input type="text" name="city", placeholder="Enter City">
        <br><br>
        <input type="text" name="email", placeholder="Enter Email">
        <br><br>
        <button>Add User</button>
    </form>
</body>
</html>