<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fill User Form</h1>
    <form action="/add-user" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="text" name="age" placeholder="Enter Age" required>
        <input type="text" name="city" placeholder="Enter City" required>
        <input type="email" name="email" placeholder="Enter Email" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>