<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="/"> Home </a>
        <br>
        <a href="/about">about</a>
        <br>
        <a href="/contact">contact</a>
        <br>
        <a href="/login">login</a>
    </header>

    <h1>Home Page</h1>

    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus unde optio, eum doloribus illum nobis voluptatem molestiae neque quisquam pariatur modi? Itaque aspernatur possimus suscipit cumque perspiciatis nulla amet asperiores?</p>
    </main>

</body>
</html>