<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <h1> LOGO </h1>
        </div>
        <div>
            <a href="/"> Home </a>
            <a href="/about">about</a>
            <a href="/contact">contact</a>
            <a href="/login">login</a>
    </header>
    <main>
        <h1>Login Page</h1>
        <form action="/submit" method="post">
            <input type="text" placeholder="Enter Username">
            <br><br>
            <input type="password" placeholder="Enter Password">
            <br><br>
            <button>Login</button>
        </form>
    </main>
</body>
</html>