<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header-section">
        <div id="header-container">
            <div id="header-logo">
                <h1>Express</h1>
            </div>
            <div id="header-menu">
                <nav id="header-menu-list">
                    <a href="/" class="nav-lists"> Home</a>
                    <a href="/about" class="nav-lists"> About</a>
                    <a href="/contact" class="nav-lists"> Contact</a>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>